{% extends 'base.html' %}

{% block title %}Lista želja{% endblock %}

{% block content %}
<section class="vh-100" style="background-color: #f4fcf9;">
  <div class="container py-5 h-100">
    <div>
      <div class="col-md-11 col-xl-9">
        <div class="card">
          <div class="card-header p-3">
            <h3 id="naslovProcitaneKnjige" class="mb-0"><i class="bi-book"></i> Lista želja <div class="btns">
              <a id="dodajKnjigu" data-mdb-toggle="tooltip" title="Dodaj knjigu"href="{% url 'dodajZelju' %}"> <i class="bi-bookmark-plus"></i> </a></h3>

          </div>
          <br>

          <div class="card-body" data-mdb-perfect-scrollbar="true" style="position: relative;">
            <table class="table mb-0">
              <thead>
                <tr>
                  <th scope="col">Naslov knjige | Autor </th>
                  <th scope="col"> Žanr </th>
                  <th scope="col"></th>
                </tr>
              </thead>
              {% if knjige %}
              <tbody>
                  {% for k in knjige %}
                    {% if k.procitano == False and k.kupljeno == False %}
                <tr class="fw-normal">
                  <th class="align-middle" id="nslAut">
                      {{ k.naslov }},
                    <span class="ms-2">{{ k.autor }} </span>
                  </th>
                  <td class="align-middle">
                    <span> {{k.zanr.all|join:", "}}</span>
                  </td>
                  <td class="align-right">
                    <a id="proc" href="{% url 'kupljenaKnjiga' k.id %}" data-mdb-toggle="tooltip" title="Kupljeno">  <i class="bi-check"></i></a>
                    <a id="eraser" href="{% url 'obrisiKnjigu' k.id %}" data-mdb-toggle="tooltip" title="Obriši"><i class="bi-eraser"></i></a>
                  </td>
                </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
              {% endif %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
